:root {
  /*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/

  color: #213547;
  background-color: #ffffff;

  text-rendering: optimizeLegibility;
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;*/
}




h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
}